# Week 2: Identify Nearest Health Facilities

<span style="color:red">
**UPDATE**

Thank you for your analysis. Despite our warning efforts so far, the virus continues to spread rapidly. We want to get infected individuals treatment as quickly as possible, so we need your help to calculate which hospital or clinic is closest to each known infected individual in the population.
</span>

Your goal for this notebook will be to identify the nearest hospital or clinic for each infected person.

## Imports

In [1]:
import cudf
import cuml
import cupy as cp

## Load Population Data

Begin by loading the `lat`, `long` and `infected` columns from `'./data/week2.csv'` into a cuDF data frame called `gdf`.

In [3]:
needed_columns = ['lat', 'long', 'infected']
gdf = cudf.read_csv('./data/week2.csv', usecols = needed_columns)
gdf.head()

         lat      long  infected
0  54.522510 -1.571896       0.0
1  54.554030 -1.524968       0.0
2  54.552486 -1.435203       0.0
3  54.537189 -1.566215       0.0
4  54.528212 -1.588462       0.0

## Load Hospital and Clinics Data

For this step, your goal is to create an `all_med` cuDF data frame that contains the latitudes and longitudes of all the hospitals (data found at `'./data/hospitals.csv'`) and clinics (data found at `'./data/clinics.csv'`).

In [24]:
med_needed_columns = ['Latitude', 'Longitude']
hosp_data = cudf.read_csv('./data/hospitals.csv', usecols = med_needed_columns)
clin_data = cudf.read_csv('./data/clinics.csv', usecols = med_needed_columns)

all_med = cudf.concat([hosp_data, clin_data], axis = 0)
all_med.head()

    Latitude  Longitude
0  51.379997  -0.406042
1  51.315132  -0.556289
2  51.437195  -2.847193
3  53.459743  -2.245469
4  52.078121  -0.030604

In [27]:
all_med.info()

<class 'cudf.core.dataframe.DataFrame'>
Int64Index: 20311 entries, 0 to 19081
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   20301 non-null  float64
 1   Longitude  20301 non-null  float64
dtypes: float64(2)
memory usage: 481.0 KB

Since we will be using the coordinates of those facilities, keep only those rows that are non-null in both  `Latitude` and `Longitude`.

In [28]:
all_med = all_med[all_med['Latitude'].notnull() & all_med['Longitude'].notnull()]
all_med.info()

<class 'cudf.core.dataframe.DataFrame'>
Int64Index: 20301 entries, 0 to 19081
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   20301 non-null  float64
 1   Longitude  20301 non-null  float64
dtypes: float64(2)
memory usage: 475.8 KB

## Make Grid Coordinates for Medical Facilities

Provided for you in the next cell (which you can expand by clicking on the "...", and contract again after executing by clicking on the blue left border of the cell) is the lat/long to grid coordinates converter you have used earlier in the workshop. Use this converter to create grid coordinate values stored in `northing` and `easting` columns of the `all_med` data frame you created in the last step.

In [29]:
# https://www.ordnancesurvey.co.uk/docs/support/guide-coordinate-systems-great-britain.pdf

def latlong2osgbgrid_cupy(lat, long, input_degrees=True):
    '''
    Converts latitude and longitude (ellipsoidal) coordinates into northing and easting (grid) coordinates, using a Transverse Mercator projection.
    
    Inputs:
    lat: latitude coordinate (N)
    long: longitude coordinate (E)
    input_degrees: if True (default), interprets the coordinates as degrees; otherwise, interprets coordinates as radians
    
    Output:
    (northing, easting)
    '''
    
    if input_degrees:
        lat = lat * cp.pi/180
        long = long * cp.pi/180

    a = 6377563.396
    b = 6356256.909
    e2 = (a**2 - b**2) / a**2

    N0 = -100000 # northing of true origin
    E0 = 400000 # easting of true origin
    F0 = .9996012717 # scale factor on central meridian
    phi0 = 49 * cp.pi / 180 # latitude of true origin
    lambda0 = -2 * cp.pi / 180 # longitude of true origin and central meridian
    
    sinlat = cp.sin(lat)
    coslat = cp.cos(lat)
    tanlat = cp.tan(lat)
    
    latdiff = lat-phi0
    longdiff = long-lambda0

    n = (a-b) / (a+b)
    nu = a * F0 * (1 - e2 * sinlat ** 2) ** -.5
    rho = a * F0 * (1 - e2) * (1 - e2 * sinlat ** 2) ** -1.5
    eta2 = nu / rho - 1
    M = b * F0 * ((1 + n + 5/4 * (n**2 + n**3)) * latdiff - 
                  (3*(n+n**2) + 21/8 * n**3) * cp.sin(latdiff) * cp.cos(lat+phi0) +
                  15/8 * (n**2 + n**3) * cp.sin(2*(latdiff)) * cp.cos(2*(lat+phi0)) - 
                  35/24 * n**3 * cp.sin(3*(latdiff)) * cp.cos(3*(lat+phi0)))
    I = M + N0
    II = nu/2 * sinlat * coslat
    III = nu/24 * sinlat * coslat ** 3 * (5 - tanlat ** 2 + 9 * eta2)
    IIIA = nu/720 * sinlat * coslat ** 5 * (61-58 * tanlat**2 + tanlat**4)
    IV = nu * coslat
    V = nu / 6 * coslat**3 * (nu/rho - cp.tan(lat)**2)
    VI = nu / 120 * coslat ** 5 * (5 - 18 * tanlat**2 + tanlat**4 + 14 * eta2 - 58 * tanlat**2 * eta2)

    northing = I + II * longdiff**2 + III * longdiff**4 + IIIA * longdiff**6
    easting = E0 + IV * longdiff + V * longdiff**3 + VI * longdiff**5

    return(northing, easting)

In [30]:
grid_n, grid_e = latlong2osgbgrid_cupy(all_med["Latitude"], all_med["Longitude"])
all_med['northing'] = grid_n
all_med['easting'] = grid_e
all_med.head()

    Latitude  Longitude       northing        easting
0  51.379997  -0.406042  165810.473974  510917.517174
1  51.315132  -0.556289  158381.343420  500604.836652
2  51.437195  -2.847193  171305.775859  341119.365090
3  53.459743  -2.245469  395944.561405  383703.600293
4  52.078121  -0.030604  244071.710013  534945.182860

## Find Closest Hospital or Clinic for Infected

Fit `cuml.NearestNeighbors` with `all_med`'s `northing` and `easting` values, using the named argument `n_neighbors` set to `1`, and save the model as `knn`.

Save every infected member in `gdf` into a new dataframe called `infected_gdf`.

In [33]:
infected_gdf = gdf[gdf['infected'] == 1.0]
infected_gdf.head()

               lat      long  infected
1346586  53.715826 -2.430079       1.0
1350932  53.664881 -2.425673       1.0
1352085  53.696765 -2.488940       1.0
1352799  53.696966 -2.488897       1.0
1357529  53.727804 -2.392959       1.0

In [34]:
infected_gdf.info()

<class 'cudf.core.dataframe.DataFrame'>
Int64Index: 70880 entries, 1346586 to 58464209
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   lat       70880 non-null  float64
 1   long      70880 non-null  float64
 2   infected  70880 non-null  float64
dtypes: float64(3)
memory usage: 2.2 MB

Create `northing` and `easting` values for `infected_gdf`.

In [36]:
grid_n, grid_e = latlong2osgbgrid_cupy(infected_gdf['lat'], infected_df['long'])
infected_gdf['northing'] = grid_n
infected_gdf['easting'] = grid_e
infected_gdf.head()

               lat      long  infected       northing        easting
1346586  53.715826 -2.430079       1.0  424489.783814  371619.678741
1350932  53.664881 -2.425673       1.0  418820.687944  371876.492369
1352085  53.696765 -2.488940       1.0  422394.398940  367721.000265
1352799  53.696966 -2.488897       1.0  422416.821887  367723.973098
1357529  53.727804 -2.392959       1.0  425808.109929  374076.557677

Use `knn.kneighbors` with `n_neighbors=1` on `infected_gdf`'s `northing` and `easting` values. Save the return values in `distances` and `indices`.

### Check Your Solution

`indices`, returned from your use of `knn.kneighbors` immediately above, should map person indices to their closest clinic/hospital indices:

In [ ]:
indices.head()

Here you can print an infected individual's coordinates from `infected_gdf`:

In [39]:
infected_gdf.iloc[0] # get the coords of an infected individual (in this case, individual 0)

lat             53.715826
long            -2.430079
infected         1.000000
northing    424489.783814
easting     371619.678741
Name: 1346586, dtype: float64

You should be able to used the mapped index for the nearest facility to see that indeed the nearest facility is at a nearby coordinate:

In [40]:
all_med.iloc[1234] # printing the entry for facility 1234 (replace with the index identified as closest to the individual)

Latitude         53.404556
Longitude        -2.831035
northing     390099.139880
easting      344757.527843
Name: 8, dtype: float64

<div align="center"><h2>Please Restart the Kernel</h2></div>

...before moving to the next notebook.

In [ ]:
import IPython
app = IPython.Application.instance()
app.kernel.do_shutdown(True)